<div class="row">
    <div class="col">
        *ngIf
        <hr />
        <div *ngIf="mostrar" class="card text-white bg-info mb-3" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{frase.autor | uppercase}}</h5>
              <p class="card-text">{{frase.mensaje}}</p>
            </div>
          </div> 
          <button class="btn btn-primary" (click)= "mostrar = !mostrar">
              Mostrar / Ocultar
          </button>
    </div>
    <div class="col">
        *ngFor
        <hr />
        <ul class="list-group">
            <li *ngFor="let super of personajes;let i = index" class="list-group-item">{{i+1 + ' - ' + super}}</li>            
          </ul>
    </div>
</div>
