<div class="card animated fadeIn fast">
        <img class="card-img-top" [src]="heroeParametro.img" [alt]="heroeParametro.nombre">
        <div class="card-body">
          <h5 class="card-title">{{heroeParametro.nombre}} - {{heroeParametro.casa}}</h5>
          <p class="card-text">{{heroeParametro.bio}}</p>
          <p class="card-text"><small class="text-muted">{{heroeParametro.aparicion}}</small></p>
          <button class="btn btn-outline-primary btn-block" type="button" (click)="verHeroe(idx)">
            Ver Mas
          </button>
          <!-- <a class="btn btn-outline-primary btn-block" [routerLink]="[ '/heroe', i ]">Ver mas link ...</a> -->
        </div>
      </div>