<div class="jumbotron animated fast fadeIn">
  <h1 class="display-4">App</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quas explicabo
    autem dignissimos quae! Ab culpa doloribus, sit iste illum fuga perf erendis est unde assumenda officiis
    exercitationem! Quidem, deserunt asperiores.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>