<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text=${titulo}></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">JPA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/listar}">Clientes<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/form}">Nuevo</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1 class="text-primary" th:text=${titulo}></h1>
		 <a class="btn btn-primary btn-xs" th:href="@{/form}">Crear Cliente</a>
		<table class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Correo</th>
				<th>Fecha</th>
				<th>Editar</th>
			</thead>
			<tbody>
				<tr th:each="client: ${clientes}">
					<td th:text="${client.id}"></td>
					<td th:text="${client.nombre}"></td>
					<td th:text="${client.apellido}"></td>
					<td th:text="${client.correo}"></td>
					<td th:text="${client.fechaCreacion}"></td>
					<td>
						<a class="btn btn-primary btn-xs" th:href="@{/form/} + ${client.id}">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>