/* You can add global styles to this file, and also import other style files */

/* .ng-invalid.ng-touched:not(form) 
{ 
 border: 1px solid red 
} */

.invalid-feedback {
 display:block;
}

.has-error {
 color:red!important;
}

.has-error.form-control {
 border: 1px solid red!important;
}